/*Tamanho padrão para tablets*/
@media only screen and (max-width: 768px) {
	.header-black ul {
		display: none;
	}
}
/*Tamanho padrão para smartphones*/
@media only screen and (max-width: 480px) {
	html, body {
		margin: 0 auto;
	}
	.header-black ul, #menu{
		display: none;
	}
	#logotipo {
		left: 32%;
		z-index: 6;
	}

	#btn-bars, #btn-search {
		color: #fff;
		font-size: 22px;
		position: absolute;
		top: 4px;
		background: none;
		border: none;
		display: block;
	}
	#btn-bars {
		left: 4px;
	}
	#btn-search {
		right: 4px;
	}

	#banner {
		height: 317px;
		background-size: cover;
		background-position: 0;
		text-align: center;
	}

	#banner h1{
		top: 180px;
		font-size: 48px;
		margin-left: 0;
	}

	#banner h1 small {
		font-size: 22px;
	}

	#news h2{
		font-size: 32px;
	}

	#news hr{
		border-width: 4px;
	}

	.owl-carousel .owl-wrapper-outer {
		margin-left: 15px;
	}

	.thumbnails {
		text-align: center;
	}

	#btn-news-prev, #btn-news-next {
		background: none;
		border: none;
		color: #5e2699;
		font-size: 48px;
		display: block;
		position: absolute;
		top: 130px;
		z-index: 1;
		outline: 0;
	}

	#btn-news-next {
		right: 10px;
	}

	#news .thumbnails .item-inner img {
		width: 60%;
	}

	#estatisticas {
		height: inherit;
	}


	#call-to-action {
		margin-top: 60px;
		padding: 5px;
	}

	#call-to-action hr {
		border-width: 4px;
	}

	#call-to-action p {
		margin: 0 auto	;

	}

	#call-to-action .col-xs-6{
		position: relative;
		margin-top: 20px;
		width: 100%;
	}

	footer {
		margin-top: 60px;
	}

	.copyright-mobile p {
		margin-top: -100;
		font-size: 10px;
		line-height: 0;
	}

	.copyright-mobile .pull-left {
		float: inherit;
	}

	footer .row p {
		text-align: center;
		line-height: 30px;

			
	}

	footer .row p:first-child{
		position: relative;

		margin-top: 0px;
	}

	footer .text-roxo {
		margin-right: 0px;
		position: relative;
		top: 0px;
	}

	footer .row {
		margin: 0;
	}

	footer .col-md-10 {
		padding: 0;
	}

	footer .list-socials {
		position: absolute;
		width: 100%;
		left: 0;
		top: 51px;
	}

	footer .list-socials a {
		width: 48px;
		height: 48px;
		border-radius: 24px;
	}

	footer .list-socials i {
		font-size: 30px;
		margin: 9px; 
	}

	footer .row-cinza-claro {
		height: 157px;
	}

	header .header-black {
		position: fixed;
		top: 0;
		width: 100%;
	}
	
	header #menu-mobile {
		position: fixed;
		top: 40px;
		background-color: #fff;
		width: 80%;
		height: 100%;
		left: -80%;
		transition: 1s;
		z-index: 5;
	}

	header.open-menu #menu-mobile {
		left: 0;
	}


	header.open-menu #menu-mobile-mask {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, .5);
		z-index: 4;
	}

	header.open-menu #logotipo{
		position: fixed;
		top: 50px;
		height: 76px;
		left: calc(40% - 33px);
	}
}